html{

	 /*background: url("book.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;*/
	  background: repeating-linear-gradient(to bottom, #3e2009,#4b320d, #3e2009,#4b320d,#3e2009);
}

#book{
	background: linear-gradient(to right,#712121,#530e0e,#280505,#712121,#530e0e);
	padding:10px;
	background-repeat: no-repeat;
	background-size:cover;
	width:1100px;
	height:630px;
	margin:auto;
	box-shadow: 0px 0px 20px 1px #1a1a1a;
	margin-top: 50px;
}



#article{
    background: linear-gradient(to right,beige,tan 30%,#744d35 50%,tan 80%,beige);
	font-size: 15px;
	columns: 2;
	column-width: 100px;
	width: 1100px;
	height: 630px;
	margin:auto;
	padding:2px;

}

#article p{
	padding:0px 5px;
}


.next{
	position: fixed;
    right: 10px;
    display: block;
    top: 0;
    cursor:pointer;
}

.prev{
	position: fixed;
    left: 10px;
    display: block;
    top: 0;
    cursor:pointer;
}

